/* General Styles */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: linear-gradient(rgba(41, 127, 138, 0.8), rgba(0, 0, 0, 0.8)), url('C:/Users/krabh/OneDrive/Desktop/Angular/vr-fitness/public/images/VR-fittness-app.webp') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
}


/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
  background-color: rgba(246, 243, 243, 0.6);
  padding: 40px;
  background: rgba(0, 0, 0, 0.8) url('C:/Users/krabh/OneDrive/Desktop/Angular/vr-fitness/public/images/wp9611329.webp') no-repeat center center;

  
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 25px;
  text-shadow: 2px 2px 10px rgba(247, 243, 243, 0.996);
}

.hero-content p {
  font-size: 1.4em;
  margin-bottom: 40px;
  text-shadow: #fff;
}

/* Buttons */
.cta-button {
  background-color: #ff5722; /* Primary CTA color */
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.cta-button.secondary {
  background-color: transparent;
  color: #ff5722;
  border: 2px solid #ff5722;
}

.cta-button:hover {
  background-color: #e64a19; /* Darker shade on hover */
  transform: translateY(-2px); /* Slightly lift on hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cta-button.secondary:hover {
  background-color: rgba(255, 87, 34, 0.1);
}


/* Footer Section */
footer {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 30px 0;
  text-align: center;
  color: #fff;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.footer-links li {
  display: inline;
  margin: 0 15px;
}

.footer-links a {
  color: #ff5722;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #e64a19; /* Slightly darker on hover */
  text-decoration: underline;
}
