<div class="auth-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Email</label>
        <input formControlName="email" type="email" required />
        <div *ngIf="email?.invalid && email?.touched">
            Please enter a valid email.
        </div>
      </div>
      <div>
        <label>Password</label>
        <input formControlName="password" type="password" required />
        <div *ngIf="password?.invalid && password?.touched">
            Password is required.
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
      <div *ngIf="loginError" class="error">{{ loginError }}</div>
    </form>
  </div>
  